@page "/filmdetails"
@page "/filmdetails/{id:int}"
@using BlazorCRUD.Model
@using BlazorCrud.UI.Interfaces
@inject IFilmService FilmService;
@inject NavigationManager NavigationManager;

<h1>Film Details</h1>

<EditForm Model="@film">
    <table class="table">
        <tr>
            <td>Title:</td>
            <td><input type="text" @bind="film.Title" /></td>
        </tr>
        <tr>
            <td>Director:</td>
            <td><input type="text" @bind="film.Director" /></td>
        </tr>
        <tr>
            <td>Release Date:</td>
            <td><input type="text" @bind="film.ReleaseDate" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="SaveFilm" />
                <input type="button" value="Cancel" @onclick="CancelFilm" />
            </td>
        </tr>
    </table>

</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    Film film = new Film();

    protected void CancelFilm()
    {
        NavigationManager.NavigateTo("/filmlist");
    }

    protected async Task SaveFilm()
    {
        await FilmService.SaveFilm(film);

        NavigationManager.NavigateTo("/filmlist");
    }

    protected override async Task OnInitializedAsync()
    {
        if(id == 0)
        {
            film.ReleaseDate = DateTime.Now;
        }
        else
        {
            film = await FilmService.GetDetails(id);
        }
    }
}
